<ol class="breadcrumb">
  <li class="active">About Us</li>
</ol>
<h1>
  About Us
</h1>

<h2>
  Welcome to Blazebit! 
</h2>

<br>

<div>
  <p>
    You like the walking? Dude! Bro! We like the walking too!
    <br>
    <br>
    We are your go-to tracker for all of your hiking information. 
    Whether you're a die-hard hiker or a complete newbie, we'll give your data a home
    so you can look over your recent activity and give that back of yours a nice ol' patty-maroo.
    <br>
    <br>  
    Enjoy!
  </p>
</div>
  



