<!-- <ol class="breadcrumb">
  <li class="active">About Us</li>
</ol> -->

<div class="container-fluid text-center container well">
      <h2>
        Welcome to Blazebit! 
      </h2>
    
      <br>
      <div id="info">
        <p>
            BlazeBit helps people explore the outdoors with the largest collection of detailed, hand-curated trail maps as well as trail reviews and photos crowdsourced from a community of 6 million registered hikers, mountain bikers and trail runners.
        </p>   
        <p>
     
          BlazeBit helps people explore the outdoors with the largest collection of detailed, hand-curated trail maps as well as trail reviews and photos crowdsourced from a community of 6 million registered hikers, mountain bikers and trail runners.
          BlazeBit has built the most complete, accurate, and global dataset for off-road recreation ever, along with the easiest-to-use product suite that helps users find, customize, record and share outdoor activities and the largest and most active digital community of outdoor enthusiasts.</p>
        <p>
          Founded in 2017, BlazeBit is headquartered in San Francisco, California and operates industry leading websites and mobile applications that provide over 6 million outdoor enthusiasts with the tools and information they need to get outside, record their adventures, and share them with friends & family. Our mobile applications have been featured numerous times by Apple and are consistently ranked in the Top 10 in their categories.
        </p>
      
       
      </div>
      <div class="container-fluid bg-3 text-center"> 
          <h1>Our Team</h1>
          <div class="row">
            <div class="col-sm-4">
              <p class="names">Joseph</p>
              <img class="img-thumbnail" src="assets/joseph.jpg" width="304" height="236" alt="Image">
            </div>
            <div class="col-sm-4">
              <p class="names">Helena</p>
              <img class="img-thumbnail" src="assets/helena.jpg" width="304" height="236" alt="Image">
            </div>
            <div class="col-sm-4"> 
              <p class="names">Bryan</p>
              <img class="img-thumbnail" src="assets/bryan.jpg" width="304" height="236" alt="Image">
            </div>
          </div>
          <div class="row">
              <div class="col-sm-4">
                <p class="names">Joshua</p>
                <img class="img-thumbnail" src="assets/Joshua.jpg" width="304" height="236" alt="Image">
              </div>
              <div class="col-sm-4">
                <p class="names">Amanda</p>
                <img class="img-thumbnail" src="assets/Amanda.jpg" width="304" height="236" alt="Image">
              </div>
              <div class="col-sm-4"> 
                <p class="names">Luka</p>
                <img class="img-thumbnail" src="assets/luka.png" width="304" height="236" alt="Image">
              </div>
            </div>
        </div>
      

</div>
  






