<ol class="breadcrumb">
  <li class="active">Trails</li>
</ol>

<h2>Available Hikes</h2>

<table class="table table-striped table-bordered table-responsive table-hover container-fluid" id="hikeTable">
  <!-- <table id="hikeTable"> -->
  <thead>
    <tr>
      <th>Trail Name</th>
      <th>Distance</th>
      <th>Elevation</th>
      <!-- <th>Lattitude</th>
      <th>Longitude</th> -->
      <!-- <th>Admin</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hike of hikeInfo">
      <td><a [routerLink]="['/details/', hike.id]">{{hike.name}}</a></td>
      <td>{{hike.distance}}</td>
      <td>{{hike.elevation}}</td>
      <!-- <td>{{hike.lattitude}}</td>
      <td>{{hike.longitude}}</td> -->
      
      <!-- <td class="text-center">
        <a class="btn btn-primary" [routerLink]="['/student/edit/', student.student_id]">Edit</a>&nbsp;
        <button (click)="deleteStudent(student.student_id)" class="btn btn-danger">Delete</button>
      </td> -->
    </tr>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    $('#hikeTable').DataTable();
});
</script>
