<ol class="breadcrumb">
  <li class="active">Trails</li>
</ol>

<h2>Available Hikes</h2>

<table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
  
  <thead>
    <tr>
      <th>Trail Name</th>
      <th>Distance</th>
      <th>Elevation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hike of hikeInfo">
      <td><a [routerLink]="['/details/', hike.id]">{{hike.name}}</a></td>
      <td>{{hike.distance}}</td>
      <td>{{hike.elevation}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
        <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>

