<!-- <ol class="breadcrumb">
  <li class="active">Sign Up</li>
</ol> -->

<!-- <div class="figure">
  <img src="/assets/clock.png" height="500" width="500">
</div> -->

<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

<h1>Signup</h1>
<form novalidate (submit)="saveRegisterForm(SignupForm)" #SignupForm="ngForm" class="form-horizontal">

  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
      {{user}}
      <input formControlUsername="username" type="text" required minlength="1" name="username" class="form-control" id="username" ngModel #username="ngModel" placeholder="User Name">
        <div class="alert alert-danger" *ngIf="username.touched && !username.valid">
        <div *ngIf="username.errors.required">Username is required.</div>
        <div *ngIf="username.errors.minlength">Username should be a minimum of 1 character.</div>     
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" required minlength="1" name="password" class="form-control" id="password" placeholder="Password" ngModel #password="ngModel">
        <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
        <div *ngIf="password.errors.required">Password is required.</div>
        <div *ngIf="password.errors.minlength">Password should be a minimum of 1 character.</div>     
        <div *ngIf="myForm.get('username').status === 'VALID'">
          Name is available.
        </div>
        <div *ngIf="myForm.get('username').errors && myForm.get('username').errors.nameTaken">
          This username is not available.
        </div>
      </div>
    </div>
  </div>

  <!-- submit button -->

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button [disabled]="!SignupForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

