<ol class="breadcrumb">
  <li class="active">Profile</li>
</ol>

<div class="col-md-6">
  <canvas baseChart
    [data]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [chartType]="lineChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"></canvas>
</div>
<div class="col-md-6">
  <canvas baseChart
    [data]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [chartType]="barChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"></canvas>
</div>
<div>
  <h2>Completed Hikes for {{ currentUser.username }}</h2>
  <table class="table table-striped table-bordered" id="dataTable" style="width:100%">
    <thead>
      <tr>
        <th>Hike Name</th>
        <th>Distance</th>
        <th>Elevation</th>
      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hike of currentUser.completedTrails">
        <td>{{hike.name}}</td>
        <td>{{hike.distance}}</td>
        <td>{{hike.elevation}}</td>
       
      </tr>
    </tbody>
  </table>
</div>
<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>
<div>
  <h2 style="text-align:center">Wishlist Hikes for {{ currentUser.username }}</h2>
  <table class="table table-striped table-bordered" id="dataTable" style="width:100%">
    <thead>
      <tr>
        <th>Hike Name</th>
        <th>Distance</th>
        <th>Elevation</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let wishhike of currentUser.wishlistTrails">
        <td>{{wishhike.name}}</td>
        <td>{{wishhike.distance}}</td>
        <td>{{wishhike.elevation}}</td>
        <td class="text-center">
          <button (click)="deleteWishlistHike(wishhike.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>