

<!-- Grid Cards -->

<div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="image_text">
          <img class="flag" src="assets/footstep.svg">
          <h3>Miles Hiked</h3>
        </div>
      </div>
      <div class="col-md-3">
        <div class="image_text">
          <img class="flag" src="assets/mountain.png">
          <h3>Feet Climbed</h3>
        </div>
      </div>
      <div class="col-md-3">
        <div class="image_text">
          <img class="flag" src="assets/hiker.png">
          <h3>Total Hikes</h3>
        </div>
      </div>
    </div>
  </div>

<!-- Line/Bar Charts -->

<div class="col-md-6">
  <canvas baseChart
    [data]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [chartType]="lineChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"></canvas>
</div>
<div class="col-md-6">
  <canvas baseChart
    [data]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [chartType]="barChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"></canvas>
</div>
<div>


<!-- Completed, Wishlist Hikes -->


  <h2 class="text-center">Completed Hikes for {{ currentUser.username }}</h2>
  <bb-hike-card-slider>
    <bb-hike-card *ngFor="let hike of currentUser.completedTrails" [hike]="hike"></bb-hike-card>
  </bb-hike-card-slider>
</div>
<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>
<div>
  <h2 style="text-align:center">Wishlist Hikes for {{ currentUser.username }}</h2>
    <bb-hike-card-slider>
      <bb-hike-card *ngFor="let hike of currentUser.wishlistTrails" [hike]="hike">
      </bb-hike-card>
    </bb-hike-card-slider>
</div>